<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body ng-app="app">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Welcome to Pollenboard</h1>
        <p class="lead">Pollenboard is a decentralized and censorship-resistant ephemeral message board built on the <a href="https://pollenium.network">Pollenium</a> gossip network.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div ng-controller="Client">
            <h5>Client Info</h5>
            <hr>
            <h6>Nonce</h6>
            <div class="ellipsis">
              0x{{clientNonceHex}}
            </div>
          </div>
          <br/>
          <div ng-controller="SignalingServers">
            <h5>Signaling Servers</h5>
            <hr>
            <div class="item ellipsis" ng-repeat="signalingClientComponent in signalingClientComponents">
              <span
                class="dot"
                ng-class="signalingClientComponent.getBgClass()">
              </span>
              {{signalingClientComponent.url}}
            </div>
          </div>
          <br/>
          <div ng-controller="Friendships">
            <h5>Friendships ({{friendshipComponents.length}}/6)</h5>
            <hr>
            <div class="item" ng-repeat="friendshipComponent in friendshipComponents">
              <span
                class="dot"
                ng-class="friendshipComponent.getBgClass()"
                >
              </span>
              {{friendshipComponent.ipString}}
              <br/>
              <small class="muted ellipsis">0x{{friendshipComponent.friendship.peerClientNonce.getHex()}}</small>
            </div>
          </div>
        </div>
        <div class="col" ng-controller="Missives">
          <div class="alert alert-info" ng-show="!isConnected">
            <div class="spinner-grow spinner-grow-sm text-info" role="status"></div>
            Connecting to peers. This may take a minute.
          </div>
          <div ng-show="isConnected">
            <h5>Messages</h5>
            <hr>
            <div class="post">
              <form ng-submit="post()">
                <div class="input-group mb-3">
                  <input
                    ng-model="missiveBodyUtf8"
                    type="text"
                    class="form-control"
                    placeholder="Post something to Pollenboard"
                    aria-label="Post something to Pollenboard"
                    aria-describedby="post-button">
                  <div class="input-group-append">
                    <button
                      ng-disabled="!missiveBodyUtf8"
                      class="btn btn-secondary"
                      type="submit"
                      id="post-button">
                        Post
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="missives">
              <div class="missive" ng-repeat="missiveComponent in missiveComponents | reverse">
                <div>{{missiveComponent.bodyUtf8}}</div>
                <small class="text-muted">
                  <span ng-if="!missiveComponent.isUsers">
                    Received {{missiveComponent.receivedAt | timeAgo}}
                  </span>
                  <span ng-if="missiveComponent.isUsers && missiveComponent.isBroadcast">
                    Broadcast {{missiveComponent.broadcastAt | timeAgo }}
                  </span>
                  <span ng-if="missiveComponent.isUsers && !missiveComponent.isBroadcast">
                    Computing proof of work
                  </span>
                </small>
                <div class="progress" ng-if="missiveComponent.isUsers && !missiveComponent.isBroadcast">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width:{{missiveComponent.powProgress * 100}}%"
                    aria-valuenow="10"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js" integrity="sha256-pVreZ67fRaATygHF6T+gQtF1NI700W9kzeAivu6au9U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <script src="./lib/pollenium-anemone/index.js"></script>
    <script src="./bower_components/angular-timeago/dist/angular-timeago.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
